NEXT_PUBLIC_DEMO_ADMIN_USER=your_admin_username
NEXT_PUBLIC_DEMO_ADMIN_PASS=your_admin_password
NEXT_PUBLIC_DEMO_STARTUP_USER=your_startup_username
NEXT_PUBLIC_DEMO_STARTUP_PASS=your_startup_password
NEXT_PUBLIC_DEMO_INVESTOR_USER=your_startup_username
NEXT_PUBLIC_DEMO_INVESTORS_PASS=your_startup_password
